.footer {
	max-width: 880px;
	margin: 0 auto 60px;
}

@media screen and (max-width: 923px) {
	.footer {
		max-width: 600px;
	}
}

@media screen and (max-width: 647px) {
	.footer {
		max-width: 282px;
		margin: 0 auto 36px;
	}
}