@import url('./vendor/normalize.css');
@import url('./vendor/fonts/fonts.css');

@import url('./blocks/page/page.css');

@import url('./blocks/header/header.css');
@import url('./blocks/header/__logo/header__logo.css');
@import url('./blocks/header/__container/header__container.css');
@import url('./blocks/header/__container/_mobile/header__container_mobile.css');
@import url('./blocks/header/__wrapper/header__wrapper.css');
@import url('./blocks/header/__wrapper/_desktop/header__wrapper_desktop.css');
@import url('./blocks/header/__menu-icon/header__menu-icon.css');
@import url('./blocks/header/__logout/header__logout.css');
@import url('./blocks/header/__link/header__link.css');
@import url('./blocks/header/__email/header__email.css');

@import url('./blocks/content/content.css');

@import url('./blocks/profile/profile.css');
@import url('./blocks/profile/__avatar/profile__avatar.css');
@import url('./blocks/profile/__info/profile__info.css');
@import url('./blocks/profile/__title/profile__title.css');
@import url('./blocks/profile/__subtitle/profile__subtitle.css');
@import url('./blocks/profile/__edit-button/profile__edit-button.css');
@import url('./blocks/profile/__add-button/profile__add-button.css');
@import url('./blocks/profile/__avatar-container/profile__avatar-container.css');
@import url('./blocks/profile/__figure/profile__figure.css');
@import url('./blocks/profile/__icon/profile__icon.css');

@import url('./blocks/elements/elements.css');
@import url('./blocks/elements/__element/elements__element.css');
@import url('./blocks/elements/__photo/elements__photo.css');
@import url('./blocks/elements/__info/elements__info.css');
@import url('./blocks/elements/__delete/elements__delete.css');
@import url('./blocks/elements/__title/elements__title.css');
@import url('./blocks/elements/__box/elements__box.css');
@import url('./blocks/elements/__like/elements__like.css');
@import url('./blocks/elements/__like-active/elements__like-active.css');
@import url('./blocks/elements/__like-add/elements__like-add.css');

@import url('./blocks/footer/footer.css');
@import url('./blocks/footer/__copyrigth/footer__copyright.css');

@import url('./blocks/popup/popup.css');
@import url('./blocks/popup/__container/popup__container.css');
@import url('./blocks/popup/__close/popup__close.css');
@import url('./blocks/popup/__name/popup__name.css');
@import url('./blocks/popup/__form/popup__form.css');
@import url('./blocks/popup/__label/popup__label.css');
@import url('./blocks/popup/__input/popup__input.css');
@import url('./blocks/popup/__submit/popup__submit.css');
@import url('./blocks/popup/_opened/popup_opened.css');
@import url('./blocks/popup/__image/popup__image.css');
@import url('./blocks/popup/__caption/popup__caption.css');
@import url('./blocks/popup/__close-image/popup__close-image.css');
@import url('./blocks/popup/__item-img/popup__item-img.css');
@import url('./blocks/popup/__container-image/popup__container-image.css');
@import url('./blocks/popup/_type/_image/popup_type_image.css');
@import url('./blocks/popup/__input-error/popup__input-error.css');
@import url('./blocks/popup/__input-error/_active/popup__input-error_active.css');
@import url('./blocks/popup/__submit/_disabled/popup__submit_disabled.css');
@import url('./blocks/popup-advice/popup-advice.css');
@import url('./blocks/popup-advice/__title/popup-advice__title.css');

@import url('./blocks/idfication/idfication.css');
@import url('./blocks/idfication/__title/idfication__title.css');
@import url('./blocks/idfication/__text/idfication__text.css');
@import url('./blocks/idfication/__link/idfication__link.css');
@import url('./blocks/idfication/__input/idfication__input.css');
@import url('./blocks/idfication/__form/idfication__form.css');
@import url('./blocks/idfication/__button/idfication__button.css');

@import url('./blocks/spinner/spinner.css');

body {
	margin: 0 auto;
	min-height: 100%;
	background-color: #000000;
	max-width: 1280px;
	min-width: 320px;
}